@model BtVideo.Models.Site.BlogViewModel
@{
    ViewBag.Title = Model.Blog.MovieTitle;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.MetaKeywords = Model.Blog.MetaKeywords;
    ViewBag.MetaDescription = Model.Blog.MetaDescription;
}
@section head {
    @Styles.Render("~/bundles/postcss")
}
@section scripts{
    @Scripts.Render("~/bundles/post")

    <script>
        $(function () {
            rator.registerRatingButtons();
            $("#Captcha").on("click", function () { $(this).attr("src", "/Movie/Captcha"); });

            //$(".cili").on("click", function (event) {
            //    //event.preventDefault();
            //    //console.info(1)
            //    //弹出广告操作
            //    //window.open("http://zz1.yxxwyz.com/c.php?s=JnpvbmVpZD04MjMmc2l0ZWlkPTI4NCZ1aWQ9MTI5NiZhZHNpZD0yNDQmcGxhbmlkPTE0JnBsYW50eXBlPWNwYyZ1cmw9aHR0cCUzQSUyRiUyRnp6Mi5jem1jY20uY29tJTJGb2slMkZzJTJGOTklMkY1JTJGaW5kZXguaHRtbCUzRm1pZCUzRDEwJnZ0aW1lPTIwMTctMDctMDMgMTU6NTk6MjEmaXA9NjAuMTgxLjc4LjIyMA==;48fd2898670bac6ff73e03afc960b6cc;&p=aj0wJm09NyZmPTI2LjAuMCZyPWh0dHAlM0ElMkYlMkZidC5oZW5oYW9qaS5jb20uY24lMkYmaz0mdT1odHRwJTNBJTJGJTJGYnQuaGVuaGFvamkuY29tLmNuJTJGMTA3ODImcmVzPTE2MDB4OTAwJnQ9JUU2JTk2JUIwJUU2JTlDJUE4JUU0JUI5JTgzJUU0JUJDJThBJTIwJTdDJTIwJUU2JTlDJTgwJUU2JTk2JUIwNzIwUCVFMyU4MCU4MTEwODBQJUU5JUFCJTk4JUU2JUI4JTg1JUU3JTk0JUI1JUU1JUJEJUIxJUU3JUE3JThEJUU1JUFEJTkwJUU0JUI4JThCJUU4JUJEJUJEJUU3JUJEJTkxJUU3JUFCJTk5JTIwJTdDJTIwJUU1JUJFJTg4JUU1JUE1JUJEJUU4JUFFJUIwYnQlMjAlN0MlMjBidC5oZW5oYW9qaS5jb20uY24mbD1lbi1VUyZjPTEmaD03NzAmc2U9Mg==");//新窗口打开
            //    //alert(1);
            //    //$(this).unbind();
            //    //$(this).on("click", function () {
            //    window.open("/download/" + $(this).attr("id"));
            //    //});
            //});
        });
    </script>
}
<ol class="breadcrumb mt-20">
    <li>
        <a href="/">首页</a>
    </li>
    @if (Model.Blog.MovieCategoryJoins.Any(m => m.CategoryID == 3))
    {
        <li>
            <a href="/list3" title="电影">电影</a>
        </li>
    }
    else if (Model.Blog.MovieCategoryJoins.Any(m => m.CategoryID == 4))
    {
        <li>
            <a href="/list4" title="电视剧">电视剧</a>
        </li>
    }
    else if (Model.Blog.MovieCategoryJoins.Any(m => m.CategoryID == 38))
    {
        <li>
            <a href="/list38" title="动漫">动漫</a>
        </li>
    }
    <li>
        <a href="/@Model.Blog.MovieID" title="@Model.Blog.MovieTitle" class="active">@Model.Blog.MovieTitle</a>
    </li>
</ol>
<section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <article>
        <header class="post-header">
            <h3 class="post-title">
                @Model.Blog.MovieTitle
            </h3>
            <hr class="hidden-xs post-header-hr">

            <div class="visible-xs">
                <div class="post-publish-info">
                    <time datetime="@Model.Blog.DateCreated">@Model.Blog.DateCreated</time>
                </div>
            </div>

            <div class="hidden-xs post-publish-info">
                <span>
                    <time datetime="@Model.Blog.DateCreated">@Model.Blog.DateCreated</time>
                </span>
                <span class="badge pull-right">@Model.Blog.PageVisits Reads</span>
            </div>
            <div class="hidden-print" style="overflow: hidden;">
                <section class="post-cat-tag-info">
                    <div class="button pull-right hidden-xs">
                        <span class="toptags-list toptags-list-sm">
                            @foreach (var item in Model.Blog.MovieTags)
                            {
                                <a href="/tags/@(item.Tag)" title="@item.Tag" rel="0">@item.Tag</a>
                            }
                        </span>
                    </div>
                </section>
            </div>
            <hr class="post-header-hr mt0">
        </header>
        <section class="post-content clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <img data-original="@Model.Blog.PictureThumbnail"
                         style="width: 100%;" alt="@Model.Blog.MovieTitle" />
                </div>
                <div class="col-sm-8">
                    <h1>@Model.Blog.MovieTitle</h1>
                    <div class="row">
                        <div class="col-sm-2">更新:</div>
                        <div class="col-sm-10">@Model.Blog.DateCreated.ToString("yyyy-MM-dd HH:mm:ss")</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">类型:</div>
                        <div class="col-sm-10">
                            @foreach (var item in Model.Blog.MovieCategoryJoins)
                            {
                                <a href="/list@(item.CategoryID)" title="@item.MovieCategory.CategoryName">
                                    @item.MovieCategory.CategoryName
                                </a>
                                @:&nbsp;&nbsp;
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">地区:</div>
                        <div class="col-sm-10">@Model.Blog.MovieArea.AreaName</div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.Blog.Director))
                    {
                        <div class="row">
                            <div class="col-sm-2">导演:</div>
                            <div class="col-sm-10">@Model.Blog.Director</div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-2">主演:</div>
                        <div class="col-sm-10">
                            @foreach (var item in Model.Blog.Stars.Split('|'))
                            {
                                <a href="/star/@item" title="@item">
                                    @item
                                </a>
                                @:&nbsp;&nbsp;
                            }
                        </div>
                    </div>

                    @if (!string.IsNullOrWhiteSpace(Model.Blog.ImdbLink))
                    {
                        <div class="row">
                            <div class="col-sm-2">IMDb:</div>
                            <div class="col-sm-9">
                                <a href="@Model.Blog.ImdbLink" target="_blank" rel="nofollow"
                                   title="@Model.Blog.ImdbTitle">@Model.Blog.ImdbTitle</a>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-2">上映:</div>
                        <div class="col-sm-9">@Model.Blog.ShowDate.ToString("yyyy")</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h2>剧情介绍：</h2>
                <p class="lead">
                    @Html.Raw(Model.Blog.MovieContent)
                </p>
            </div>

            <div class="col-md-12">
                <h2>磁力：</h2>

                @*<a data-type="3" data-tmpl="800x90" data-tmplid="195" data-rd="2" data-style="2" data-border="1" href="#"></a>
                <script type="text/javascript">
                (function(win,doc){
                    var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
                    if (!win.alimamatk_show) {
                        s.charset = "gbk";
                        s.async = true;
                        s.src = "https://alimama.alicdn.com/tkapi.js";
                        h.insertBefore(s, h.firstChild);
                    };
                    var o = {
                        pid: "mm_43017247_33562094_119334438",/*推广单元ID，用于区分不同的推广渠道*/
                        appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
                        unid: "",/*自定义统计字段*/
                        type: "click" /* click 组件的入口标志 （使用click组件必设）*/
                    };
                    win.alimamatk_onload = win.alimamatk_onload || [];
                    win.alimamatk_onload.push(o);
                })(window,document);
                </script>*@
				<a href="http://www.henhaoji.com.cn?hmsr=bt&hmpl=&hmcu=&hmkw=&hmci=">
					<img src="~/App_Themes/home/images/pos.jpg" style="width:100%;" />
				</a>
                @foreach (var item in Model.Blog.MovieLinks)
                {
                    <div class="col-sm-12 mt-20">
                        <h5>
                            @item.LinkName
                        </h5>
                        <div class=" col-md-9">
                            <input type="text" class="form-control" value="@item.Magnet" />
                        </div>
                        <div class="col-md-3">
                            <a href="javascript:void(0)" id="@item.LinkID" class="btn btn-primary cili">
                                下载种子
                            </a>
                        </div>
                    </div>
                }
            </div>
            
        </section>
        <div class="post-slug-actions clearfix">
            <div class="pull-right">
                <button class="btn icon-btn btn-success btn-ratings"
                        data-postid="@Model.Blog.MovieID" data-islike="true">
                    <span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-success"></span>
                    赞 (<span class="likehits-num">@Model.Blog.LikeCount</span>)
                </button>
            </div>
            <span class="text-muted none ratemessage">感谢点赞！</span>
        </div>
        <div class="bor visible-xs"></div>
        
    </article>
    <div class="hidden-print">
        <hr class="hidden-xs">
        <div class="row">
            <div class="col-md-6">
                <strong>
                    Older
                </strong>
                <div>
                    @if (Model.PreNextBlog.PreBlog != null)
                    {
                        <a href="/@(Model.PreNextBlog.PreBlog.Slug)"
                           title="@Model.PreNextBlog.PreBlog.Title">@Model.PreNextBlog.PreBlog.Title</a>
                    }
                    else
                    {
                        <a href="#" title="上一篇">没有上一篇了</a>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <strong>
                    Newer
                </strong>
                <div>
                    @if (Model.PreNextBlog.NextBlog != null)
                    {
                        <a href="/@(Model.PreNextBlog.NextBlog.Slug)"
                           title="@Model.PreNextBlog.NextBlog.Title">@Model.PreNextBlog.NextBlog.Title</a>
                    }
                    else
                    {
                        <a href="#" title="下一篇">没有下一篇了</a>
                    }
                </div>
            </div>
        </div>

        <div class="bor"></div>
        <div class="row">
            <h3 id="grid" class="page-header">随机推荐<small>全站万部影片随机推荐</small></h3>
            @foreach (var item in (List<BtVideo.Models.Movie>)ViewBag.suiji)
            {
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <a href="/@item.MovieID" title="@item.MovieTitle">
                            <div class="movie-img">
                                <img data-original="http://bt.henhaoji.com.cn/@(item.PictureThumbnail)"
                                     alt="@item.MovieTitle" />
                            </div>
                        </a>
                        <div class="caption">
                            <a href="/@item.MovieID" title="@item.MovieTitle">
                                <h5 class="cut">@(item.MovieTitle)</h5>
                                <p>
                                    <span>
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                        @item.PageVisits
                                    </span>
                                    <span class="hidden-xs hidden-sm">
                                        <i class="glyphicon glyphicon-thumbs-up">
                                        </i>
                                        @item.LikeCount
                                    </span>
                                    <span>
                                        <i class="glyphicon glyphicon-star"></i>
                                        @item.Grade.ToString("0.0")
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="bor"></div>
        <div class="panel panel-primary comment-form-containter">
            <div class="panel-heading">评论 <span class="badge pull-right">@Model.Blog.MovieComments.Count</span></div>
            <div class="panel-body">
                <div>
                    <form action="/Movie/AddComment" data-ajax="true" data-ajax-complete="commentComplete" data-ajax-failure="commentBlowUp" data-ajax-loading="#loadingIndicator" data-ajax-mode="replace" data-ajax-success="commentSuccess" data-ajax-update="#ajaxTarget" id="form0" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.BlogComment.Name, new { @class = "form-control", placeholder = "Your Name" })
                                    @Html.ValidationMessageFor(m => m.BlogComment.Name)
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.BlogComment.Email, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.BlogComment.Email)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.BlogComment.Message, new { @class = "form-control", cols = "60", placeholder = "Say something", rows = "4" })
                            @Html.ValidationMessageFor(m => m.BlogComment.Message)
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon captcha-addon">
                                <img alt="Captcha" id="Captcha" src="/Movie/Captcha">
                            </span>
                            <input class="form-control" data-val="true"
                                   data-val-required="Name 字段是必需的。"
                                   id="CaptchaCode" name="CaptchaCode"
                                   placeholder="验证码" type="text" value="">

                            <span class="field-validation-valid"
                                  data-valmsg-for="CaptchaCode" data-valmsg-replace="true"></span>

                        </div>
                        @Html.HiddenFor(m => m.BlogComment.MovieID)
                        @Html.ValidationMessageFor(m => m.BlogComment.MovieID)
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-fw fa-send"></i>
                                提 交
                            </button>
                            <a class="btn btn-primary" data-ajax="true" data-ajax-loading="#loadingIndicator" data-ajax-mode="replace" data-ajax-update="#ajaxTarget" href="/Movie/GetApprovedCommentOfPost/@(Model.Blog.MovieID)">查看评论</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="loadercontainer">
        </div>

        <div id="loadingIndicator" class="mvcLoadingElement">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Processing...</span>
                </div>
            </div>
        </div>

        <div id="thx-for-comment" class="alert alert-warning none">
            谢谢, 你的评论我们已经收到. <br>
            管理员审核之后显示.
        </div>

        <div id="ajaxTarget">

        </div>

        <div class="bor"></div>
    </div>
</section>


@Html.Partial("~/Views/Shared/_BlogSidebar.cshtml")