@model BtVideo.Models.Site.BlogViewModel
@{
    ViewBag.Title = Model.Blog.MovieTitle;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.MetaKeywords = Model.Blog.MetaKeywords;
    ViewBag.MetaDescription = Model.Blog.MetaDescription;
}
@section head {
    @Styles.Render("~/bundles/postcss")
}
@section scripts{
    @Scripts.Render("~/bundles/post")

    <script>
        $(function () {
            $("img").lazyload({
                effect: "fadeIn"
            });

            $("#Captcha").on("click", function () { $(this).attr("src", "/Movie/Captcha"); })
        });
    </script>
}

<section class="col-lg-9 col-md-12">
    <article>
        <header class="post-header">
            <h3 class="post-title">
                @Model.Blog.MovieTitle
            </h3>
            <hr class="hidden-xs post-header-hr">

            <div class="visible-xs">
                <div class="post-publish-info">
                    <time datetime="@Model.Blog.DateCreated">@Model.Blog.DateCreated</time>
                </div>
            </div>

            <div class="hidden-xs post-publish-info">
                <span>
                    <time datetime="@Model.Blog.DateCreated">@Model.Blog.DateCreated</time>
                </span>
                <span class="badge pull-right">@Model.Blog.PageVisits Reads</span>
            </div>
            <div class="hidden-print" style="overflow: hidden;">
                <section class="post-cat-tag-info">
                    <div class="button pull-right hidden-xs">
                        <span class="toptags-list toptags-list-sm">
                            @foreach (var item in Model.Blog.MovieTags)
                            {
                                <a href="/tags/@(item.Tag)" title="@item.Tag" rel="0">@item.Tag</a>
                            }
                        </span>
                    </div>
                </section>
            </div>
            <hr class="post-header-hr mt0">
        </header>
        <section class="post-content clearfix">
            <div class="col-sm-4">
                <img src="@Model.Blog.PictureThumbnail"
                     style="width: 100%;" alt="@Model.Blog.MovieTitle" />
            </div>
            <div class="col-sm-8">
                <h1>@Model.Blog.MovieTitle</h1>
                <div class="row">
                    <div class="col-sm-2">更新:</div>
                    <div class="col-sm-10">@Model.Blog.DateCreated.ToString("yyyy-MM-dd HH:mm:ss")</div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Blog.ImdbLink))
                {
                    <div class="row">
                        <div class="col-sm-2">IMDb:</div>
                        <div class="col-sm-9">
                            <a href="@Model.Blog.ImdbLink" target="_blank" rel="nofollow"
                               title="@Model.Blog.ImdbTitle">@Model.Blog.ImdbTitle</a>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-2">地区:</div>
                    <div class="col-sm-10">@Model.Blog.MovieArea.AreaName</div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Blog.Director))
                {
                    <div class="row">
                        <div class="col-sm-2">导演:</div>
                        <div class="col-sm-10">@Model.Blog.Director</div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-2">主演:</div>
                    <div class="col-sm-10">
                        @foreach (var item in Model.Blog.Stars.Split('|'))
                        {
                            <a href="/star/@item" title="@item">
                                @item
                            </a>
                            @:&nbsp;&nbsp;
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">上映:</div>
                    <div class="col-sm-9">@Model.Blog.ShowDate.ToString("yyyy-MM-dd")</div>
                </div>
            </div>
            <div class="col-sm-12">
                <h2>剧情介绍：</h2>
                @Html.Raw(Model.Blog.MovieContent)
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.Blog.Magnet))
            {
                <div class="col-sm-12">
                    <h2>磁力链接：</h2>
                    <input type="text" class="form-control" value="@Model.Blog.Magnet" />
                </div>
            }

            <div class="col-sm-12">
                <h2>种子：</h2>
                @foreach (var item in Model.Blog.MovieLinks)
                {
                    <div class="col-sm-12">
                        <a href="/download/@item.LinkID"
                           title="@Model.Blog.MovieTitle" target="_blank">@item.LinkName</a>
                    </div>
                }
            </div>
        </section>
        <div class="bor visible-xs"></div>
    </article>
    <div class="hidden-print">
        <hr class="hidden-xs">
        <div class="row">
            <div class="col-md-6">
                <strong>
                    Newer
                </strong>
                <div>
                    @if (Model.PreNextBlog.PreBlog != null)
                    {
                        <a href="/@(Model.PreNextBlog.PreBlog.Slug)"
                           title="@Model.PreNextBlog.PreBlog.Title">@Model.PreNextBlog.PreBlog.Title</a>
                    }
                    else
                    {
                        <a href="#" title="上一篇">没有上一篇了</a>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <strong>
                    Older
                </strong>
                <div>
                    @if (Model.PreNextBlog.NextBlog != null)
                    {
                        <a href="/@(Model.PreNextBlog.NextBlog.Slug)"
                           title="@Model.PreNextBlog.NextBlog.Title">@Model.PreNextBlog.NextBlog.Title</a>
                    }
                    else
                    {
                        <a href="#" title="下一篇">没有下一篇了</a>
                    }
                </div>
            </div>
        </div>

        <div class="bor"></div>
        <div class="panel panel-primary comment-form-containter">
            <div class="panel-heading">评论 <span class="badge pull-right">@Model.Blog.MovieComments.Count</span></div>
            <div class="panel-body">
                <div>
                    <form action="/Movie/AddComment" data-ajax="true" data-ajax-complete="commentComplete" data-ajax-failure="commentBlowUp" data-ajax-loading="#loadingIndicator" data-ajax-mode="replace" data-ajax-success="commentSuccess" data-ajax-update="#ajaxTarget" id="form0" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.BlogComment.Name, new { @class = "form-control", placeholder = "Your Name" })
                                    @Html.ValidationMessageFor(m => m.BlogComment.Name)
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.BlogComment.Email, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.BlogComment.Email)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.BlogComment.Message, new { @class = "form-control", cols = "60", placeholder = "Say something", rows = "4" })
                            @Html.ValidationMessageFor(m => m.BlogComment.Message)
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon captcha-addon">
                                <img alt="Captcha" id="Captcha" src="/Movie/Captcha">
                            </span>
                            <input class="form-control" data-val="true"
                                   data-val-required="Name 字段是必需的。"
                                   id="BlogComment_CaptchaCode" name="BlogComment.CaptchaCode"
                                   placeholder="验证码" type="text" value="">

                            <span class="field-validation-valid"
                                  data-valmsg-for="BlogComment.CaptchaCode" data-valmsg-replace="true"></span>

                            @*@Html.TextBoxFor(m => m.BlogComment.CaptchaCode, new { @class = "form-control", placeholder = "Captcha Code" })
                                @Html.ValidationMessageFor(m => m.BlogComment.CaptchaCode)*@
                        </div>
                        @Html.HiddenFor(m => m.BlogComment.MovieID)
                        @Html.ValidationMessageFor(m => m.BlogComment.MovieID)
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-fw fa-send"></i>
                                提 交
                            </button>
                            <a class="btn btn-primary" data-ajax="true" data-ajax-loading="#loadingIndicator" data-ajax-mode="replace" data-ajax-update="#ajaxTarget" href="/Movie/GetApprovedCommentOfPost/@(Model.Blog.MovieID)">查看评论</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="loadercontainer">
        </div>

        <div id="loadingIndicator" class="mvcLoadingElement">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Processing...</span>
                </div>
            </div>
        </div>

        <div id="thx-for-comment" class="alert alert-warning none">
            谢谢, 你的评论我们已经收到. <br>
            管理员审核之后显示.
        </div>

        <div id="ajaxTarget">

        </div>

        <div class="bor"></div>
    </div>
</section>


@Html.Partial("~/Views/Shared/_BlogSidebar.cshtml")