@model   BtVideo.Models.Site.BlogsViewModel
@{
    ViewBag.Title = ViewBag.PageTitle;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.MetaKeywords = "很好记bt电影,很好记bt电影天堂,迅雷电影,迅雷种子,bt高清电影,bt电影下载,BT种子,最新电影排行榜";
    ViewBag.MetaDescription = "很好记bt电影(bt.henhaoji.com.cn)每日更新2017年最新电影电视剧，720p|1080p|4K 等超高清分辨率电影电视剧迅雷下载、bt种子网盘离线下载等资源。";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/22">
                <img src="~/Content/Images/超凡战队.jpg" class="img-responsive" alt="超凡战队">
                <div class="carousel-caption">
                    超凡战队下载
                </div>
            </a>
        </div>
        <div class="item">
            <a href="/21">
                <img src="~/Content/Images/006HJ39wgy1fghxod7318j30xc0akgqm.jpg" class="img-responsive" alt="春娇救志明下载">
                <div class="carousel-caption">
                    春娇救志明下载
                </div>
            </a>
        </div>
        <div class="item">
            <a href="/8">
                <img src="~/Content/Images/1e33cee08f34e707.jpg" class="img-responsive" alt="速度与激情8">
                <div class="carousel-caption">
                    速度与激情8
                </div>
            </a>
        </div>
        <div class="item">
            <a href="/7">
                <img src="~/Content/Images/8f6761a0d4edebad.jpg" class="img-responsive" alt="摔跤吧，爸爸！">
                <div class="carousel-caption">
                    摔跤吧，爸爸！
                </div>
            </a>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" title="上一页" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" title="下一页" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="col-lg-9 col-md-12">
    <h3 class="h3-cat-list">
        <span>
            数据量：
        </span>
        <span class="badge hidden-xs">@ViewBag.Count</span>
        <span class="badge visible-xs pull-right">@ViewBag.Count</span>
    </h3>
    <hr />
    @foreach (var item in Model.Blogs)
    {
        <article class="article-post-summary">
            <div class="post-date-box hidden-xs">
                <h1 class="post-date-day">@item.Grade.ToString("0.0")</h1>
                <div class="post-date-month">
                    @item.PageVisits
                </div>
            </div>
            <div class="post-summary-box">
                <time datetime="@item.DateCreated" class="none">@item.DateCreated</time>

                <div class="col-md-12">
                    <div class="col-md-3">
                        <a href="/@item.Slug" title="@item.MovieTitle">
                            <img src="@item.PictureThumbnail" class="img-responsive" style="width: 100%;" />
                        </a>
                    </div>
                    <div class="col-md-9 post-summary-text">

                        <a href="/@item.Slug" title="@item.MovieTitle">
                            <h4 class="post-summary-title">
                                @item.MovieTitle
                            </h4>
                            <p>
                                @item.MetaDescription
                            </p>
                        </a>
                        <div class="post-summary-tags">
                            @foreach (var tag in item.MovieTags)
                            {
                                <a href="/tags/@(tag.Tag)" title="@tag.Tag"
                                   class="post-summary-tag">@tag.Tag</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="bor hidden-xs"></div>
        <hr class="hidden-xs">
    }

    <div class="pull-right">
        <div>
            @Model.Blogs.Pager("pager")
        </div>
    </div>
</section>

<!-- 侧边栏 -->
@Html.Partial("~/Views/Shared/_BlogSidebar.cshtml")