@model   BtVideo.Models.Site.BlogsViewModel
@{
    ViewBag.Title = ViewBag.PageTitle;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.MetaKeywords = "很好记bt电影,很好记bt电影天堂,迅雷电影,迅雷种子,bt高清电影,bt电影下载,BT种子,最新电影排行榜";
    ViewBag.MetaDescription = "很好记bt电影(bt.henhaoji.com.cn)每日更新2017年最新电影电视剧，720p|1080p|4K 等超高清分辨率电影电视剧迅雷下载、bt种子网盘离线下载等资源。";
}

@if (HttpContext.Current.Request.Url.ToString().ToLower() == "http://bt.henhaoji.com.cn/")
{
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="/22">
                    <img src="~/Content/Images/超凡战队.jpg" class="img-responsive" alt="超凡战队">
                    <div class="carousel-caption">
                        超凡战队下载
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/21">
                    <img src="~/Content/Images/006HJ39wgy1fghxod7318j30xc0akgqm.jpg" class="img-responsive" alt="春娇救志明下载">
                    <div class="carousel-caption">
                        春娇救志明下载
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/8">
                    <img src="~/Content/Images/1e33cee08f34e707.jpg" class="img-responsive" alt="速度与激情8">
                    <div class="carousel-caption">
                        速度与激情8
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/7">
                    <img src="~/Content/Images/8f6761a0d4edebad.jpg" class="img-responsive" alt="摔跤吧，爸爸！">
                    <div class="carousel-caption">
                        摔跤吧，爸爸！
                    </div>
                </a>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" title="上一页" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" title="下一页" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
else
{
    <ol class="breadcrumb mt-20">
        <li>
            <a href="/">首页</a>
        </li>
        @if (ViewBag.Category == null)
        {
            <li>
                <a href="/list" title="所有影片">所有影片</a>
            </li>
        }
        else
        {
            <li>
                <a href="/list@(ViewBag.Category.CategoryID)" title="@ViewBag.Category.CategoryName">@ViewBag.Category.CategoryName</a>
            </li>
        }
    </ol>
}

<section class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt-20">
    <section class="recent-comments">
        <div class="panel panel-default">
            <div class="panel-heading">所有影片</div>
            <div class="panel-body mt-20" style="padding: 0;">
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <div class="thumbnail">
                            <div class="movie-img">
                                <a href="/@item.MovieID" title="@item.MovieTitle">
                                    <img data-original="http://bt.henhaoji.com.cn/@(item.PictureThumbnail)" alt="@item.MovieTitle" />
                                </a>
                            </div>
                            <div class="caption">
                                <a href="/@item.MovieID" title="@item.MovieTitle">
                                    <h5 class="cut">@(item.MovieTitle)</h5>
                                    <p>
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            @item.PageVisits
                                        </span>
                                        <span class="hidden-xs hidden-sm">
                                            <i class="glyphicon glyphicon-thumbs-up">
                                            </i>
                                            @item.LikeCount
                                        </span>
                                        <span>
                                            <i class="glyphicon glyphicon-star"></i>
                                            @item.Grade.ToString("0.0")
                                        </span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <div class="pull-right">
        <div>
            @Model.Blogs.Pager("pager")
        </div>
    </div>
</section>

<!-- 侧边栏 -->
@Html.Partial("~/Views/Shared/_BlogSidebar.cshtml")