@model BtVideo.Models.Others.Paginated<BtVideo.Models.Movie>

@{
    ViewBag.Title = "博客";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    BtVideo.Models.Others.SiteSettings siteSettings = new BtVideo.Models.Others.SiteSettings();
}

<h2>博客文章</h2>

<p>
    @Html.ActionLink("添加文章", "Add", null, new { id = "add", @class="button-add"})
</p>

<table class="grid">
	<tr>
		<th>
			#
		</th>
		<th>图片</th>
		<th>
			标题
		</th>
		<th>
			作者
		</th>
		<th>
			激活?
		</th>
		<th>
			评论
		</th>
		<th>
			访问量
		</th>
		<th>
		</th>
	</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.MovieID
        </td>
		 <td>
            <img src="@item.PictureThumbnail" style="width:150px;" alt="" />
        </td>
		<td style="width:30%">
			<a href="http://@siteSettings.CompanyWebsite/@(item.Slug)" target="_blank">@item.MovieTitle</a>
        </td>
        <td>
            @item.AuthorID<br />
			@String.Format("{0:g}", item.DateCreated)
        </td>
		<td>
            @Html.CheckBox("IsPublic", item.IsPublic, new { disabled = "disabled" })
        </td>
		<td>
			@Html.ActionLink("Comments", "Feedbacks", new { id = item.MovieID })
		</td>
		 <td>
            @item.PageVisits
        </td>
		<td class="actions">
            <a href="/admin/blog/MovieLinks/@item.MovieID" class="button">下载资源</a> | 
			<a href="/Admin/Blog/Edit/@item.MovieID" class="button-edit">编辑</a> | 
			<a href="/Admin/Blog/Delete/@item.MovieID" class="button-delete delete">删除</a>            
        </td>
    </tr>
}

</table>
@Model.Pager("pager")