@model IEnumerable<BtVideo.Models.Movie>

@{
    ViewBag.Title = "等待审核的评论";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>等待审核评论</h2>

<table class="grid">
	<tr>
		<th>
			博客 #
		</th>
		<th>
			作者
		</th>
		<th>
			日期
		</th>
		<th>
			标题
		</th>
		<th>
			访问量
		</th>
	</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.MovieID
        </td>
		<td>
            @item.AuthorID
        </td>
		<td>
            @String.Format("{0:d}", item.DateCreated)
        </td>
		<td>
            @item.MovieTitle
        </td>
		 <td>
            @item.PageVisits
        </td>
    </tr>
	foreach (var comment in item.MovieComments.Where(m => m.IsPublic == false))
	{
	<tr>
		<td></td>
		<td colspan="2">
			@comment.Name<br />
			<a href="mailto:@comment.Email">@comment.Email</a><br />
			@comment.DateCreated.ToString("D")
		</td>
		<td>
			@comment.Message
		</td>
		<td class="actions">
			<a href="/Admin/Blog/ApproveComment/@comment.CommentID" class="button-save-icon">通过审核</a>
			<a href="/Admin/Blog/DeleteComment/@comment.CommentID" class="button-delete-icon delete">删除评论</a>			
		</td>
	</tr>
	}
}

</table>
