<aside class="col-lg-3 hidden-md hidden-sm hidden-xs">
    <section class="top-tags">
        <div class="panel panel-default">
            <div class="panel-heading">热门搜索</div>
            <div class="panel-body">
                <div class="toptags-list">
                    @foreach (var item in new BtVideo.Services.SiteService().GetKeywords().OrderByDescending(m => m.Count).Take(10).ToList())
                    {
                        <a href="/list?keywords=@(item.Keyword)" title="@item.Keyword">@item.Keyword</a>
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="bor"></div>
    <section class="recent-comments">
        <div class="panel panel-default">
            <div class="panel-heading">最近评论</div>
            <div class="list-group">
                @foreach (var item in new BtVideo.Services.BlogService().GetComments().Where(m => m.IsPublic == true).Take(10).ToList())
                {
                    <div class="list-group-item">
                        <strong data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.DateCreated">
                            <i class="fa fa-user"></i>
                            @item.Name
                        </strong>
                        <p class="justifytext text-muted recent-comment-item-content">
                            @item.Message
                        </p>
                    </div>
                    <div class="recent-comment-item-footer">
                        <a href="/@(item.Movie.Slug)" title="@item.Movie.MovieTitle" target="_blank"><i class="fa fa-bookmark-o"></i> @item.Movie.MovieTitle</a>
                    </div>
                }
            </div>
        </div>
    </section>
    <div class="bor"></div>
    <section class="friend-anks">
        <div class="panel panel-default">
            <div class="panel-heading">友情链接</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-fw fa-link text-muted icon-fdlink"></i>
                    <a href="http://www.henhaoji.com.cn" target="_blank">
                        yuabd's blog
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="bor"></div>
    <section class="visible-lg visible-xs visible-md visible-sm visible-xs">
        @*<a data-type="13" data-tmpl="230x312" data-tmplid="210" data-rd="2" data-style="2" data-border="1" href="#"></a>
        <a data-type="5" data-tmpl="210x200" data-tmplid="135" data-style="2" data-border="1" href="#">淘宝充值</a>*@
    </section>
</aside>


@*<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "https://alimama.alicdn.com/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_43017247_26536259_104164351",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>*@
