<aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-20">

    @{
        var bs = new BtVideo.Services.BlogService();
        var ss = new BtVideo.Services.SiteService();
    }

    <section class="top-tags">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">本周热门</a>
                    </li>
                    <li role="presentation">
                        <a href="#grade" aria-controls="grade" role="tab" data-toggle="tab">最高评分</a>
                    </li>
                    <li role="presentation">
                        <a href="#new" aria-controls="new" role="tab" data-toggle="tab">最新更新</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <ul class="list-group">
                            @foreach (var item in bs.GetBlogs().OrderByDescending(m => m.PageVisits).Take(10).ToList())
                            {
                                <li class="list-group-item">
                                    <a href="/@item.MovieID" title="@item.MovieTitle">
                                        <span class="badge">@item.Grade.ToString("0.0")</span>
                                        @item.MovieTitle
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="grade">
                        <ul class="list-group">
                            @foreach (var item in bs.GetBlogs().OrderByDescending(m => m.Grade).Take(10).ToList())
                            {
                                <li class="list-group-item">
                                    <a href="/@item.MovieID" title="@item.MovieTitle">
                                        <span class="badge">@item.Grade.ToString("0.0")</span>
                                        @item.MovieTitle
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="new">
                        <ul class="list-group">
                            @foreach (var item in bs.GetBlogs().OrderByDescending(m => m.DateUpdate).Take(10).ToList())
                            {
                                <li class="list-group-item">
                                    <a href="/@item.MovieID" title="@item.MovieTitle">
                                        <span class="badge">@item.Grade.ToString("0.0")</span>
                                        @item.MovieTitle
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="top-tags">
        <div class="panel panel-default">
            <div class="panel-heading">热门搜索</div>
            <div class="panel-body">
                <div class="toptags-list">
                    @foreach (var item in ss.GetKeywords().OrderByDescending(m => m.Count).Take(10).ToList())
                    {
                        <a href="/list?keywords=@(item.Keyword)" title="@item.Keyword">@item.Keyword</a>
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="bor"></div>
    <section class="recent-comments">
        <div class="panel panel-default">
            <div class="panel-heading">最近评论</div>
            <div class="list-group">
                @foreach (var item in bs.GetComments().Where(m => m.IsPublic == true).Take(10).ToList())
                {
                    <div class="list-group-item">
                        <strong data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.DateCreated">
                            <i class="fa fa-user"></i>
                            @item.Name
                        </strong>
                        <p class="justifytext text-muted recent-comment-item-content">
                            @item.Message
                        </p>
                    </div>
                    <div class="recent-comment-item-footer">
                        <a href="/@(item.Movie.Slug)" title="@item.Movie.MovieTitle" target="_blank"><i class="fa fa-bookmark-o"></i> @item.Movie.MovieTitle</a>
                    </div>
                }
            </div>
        </div>
    </section>
    <div class="bor"></div>
    @if (HttpContext.Current.Request.Url.ToString().ToLower() == "http://bt.henhaoji.com.cn/")
    {
        <section class="friend-anks">
            <div class="panel panel-default">
                <div class="panel-heading">友情链接</div>
                <ul class="list-group">
                    @foreach (var item in ss.GetLinks())
                {
                        <li class="list-group-item">
                            <i class="fa fa-fw fa-link text-muted icon-fdlink"></i>
                            <a href="@item.LinkUrl" target="_blank">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <div class="bor"></div>
    }

    <section class="visible-lg visible-xs visible-md visible-sm visible-xs"></section>
</aside>

